{% extends "./base.html" %}

{% block contents %}
<h2 style="color:orange;margin-top:80px;"">Thank you for visiting my profile page.</h2>

<h3 class="mt-3" style="color:black;">My name is Kobeydon<span style="color:gray;font-size:18px;">(github username)</span></h2>

<ul>
  <li> A Japanese Entry level web developer.</li>
  <li> studied English and computer graphics in Chicago from 2003 to 2008.</li>
  <li> worked in the shipping industry from 2009 to 2013.</li>
  <li> worked in the Advertising industry from 2013 to 2016</li>
  <li> got back to pursue computer-related career from 2016.</li>
  <li> seeking job opportunities as a programmer. Currently work as a infrastructure engineer (operation).</li>
</ul>
<h3>Skill</h3>
<table>
  <tr>
    <th>languages</th>
    <td>Python,JavaSctipt,html,css,English,Japanese</td>
  </tr>
  <tr>
    <th>certification</th>
    <td>CCNA, LPIC</td>
  </tr>
</table>

<h3 class="mt-5">Kobeydon<span style="color:gray;font-size:18px;">(github username)</span></h3>
<ul>
  <li> 日本人のエントリーレベルのプログラマーです.</li>
  <li> ２００３年から２００８年までシカゴでグラフィックデザインと英語を勉強しました。</li>
  <li> ２００９年から２０１３年まで海運業界（外資船会社）に勤めました。</li>
  <li> ２０１３年から２０１６年まで広告制作会社で働いていました。</li>
  <li> ２０１６年からIT業界で再就職し、プログラムやLinuxサーバーを勉強しました。(LPIC,CCNA取得)</li>
  <li> プログラマーとしての職を探しています。現在はサーバー監視をしています。</li>
</ul>
<h3>Skill</h3>
<table>
  <tr>
    <th>languages</th>
    <td>Python,JavaSctipt,html,css,English,Japanese</td>
    <tr>
      <th>certification</th>
      <td>CCNA, LPIC</td>
  </tr>
</table>

{% endblock %}