{% extends "pdblog/base.html" %}

{% block contents %}

  <div class="post">
      <h1>{{ article_detail.title }}</h1>
      <p>{{ article_detail.likes.count  }} <a href="{{ article_detail.get_like_url }}">Like</a>  </p>

      <p><span class="pubdate">{{ article_detail.pub_date }}</span></p>
      <p class="text">{{ article_detail.text|linebreaksbr }}</p>
  </div>

  {% if request.user.is_authenticated %}
  <div><a href="{% url 'pdblog:article_update' article_detail.pk %}">edit this article</a></div>
  <div><a href="{% url 'pdblog:article_delete' article_detail.pk %}">delete this article</a></div>
  {% endif %}

{% endblock contents %}
