{% extends "./base.html" %}
{% load pdtemplatetags %}

{% block contents %}

  <div class="post">
      <h1 class="pdtitle">{{ article_detail.title }}</h1>
      <div class="like-btn btn btn-outline-primary btn-sm mt-3" data-href="{{ article_detail.get_api_like_url }}">
      <span class="liked_cnt">{{ article_detail.likes.count }}</span>
      like</div>
      <div id="error" class="text-warning"></div>
      <div class="pubdate">&nbsp;Published:{{ article_detail.pub_date|date:"n.d Y" }}<span>&nbsp; by {{ article_detail.user.last_name }}</span></div>

      <hr>
      {{ article_detail.text | markdown_to_html_with_escape }}
      <hr>
      <h1 class="comments_h"> Comments </h1>
      {% for c in valid_comments %}
      <small> Posted by {{ c.user_name }}</small>
      <small> {{ c.comment_text|linebreaksbr}} </small>
      <hr>
      {% endfor %}

  </div>

  <div class='mb-3'><a href="{% url 'pdblog:comment_create' article_detail.pk %}"> Write your comment </a></div>
  {% if request.user == article_detail.user %}
  <div><a href="{% url 'pdblog:article_update' article_detail.pk %}"><button class="btn btn-outline-primary">Edit</button></a>
    <a href="{% url 'pdblog:article_delete' article_detail.pk %}"><button class="btn btn-outline-danger">Delete</button></a></div>
  {% endif %}

	<script>
		$(function(){
			const this_ = $(".like-btn");
			const likeUrl = this_.attr("data-href");
			$.ajax({
				url: likeUrl,
				method: "GET",
				data: {"status":0},
				success: function(data){
					if (data.liked){
						this_.addClass("btn-outline-danger");
					}
				}, error: function(error){
					console.log("error")
				}
			})
		});
		$(".like-btn").click(function(e){
			e.preventDefault()
			const this_ = $(this);
			const like_cnt = $(".liked_cnt");
			const likeUrl = this_.attr("data-href");
			if (likeUrl){
				$.ajax({
					url: likeUrl,
					method: "GET",
					data: {"status":1},
					success: function(data){
						let change_like = like_cnt.text();
						if (data.liked){
							like_cnt.text(++change_like);
							this_.addClass("btn-outline-danger");
						} else {
							like_cnt.text(--change_like);
							this_.removeClass("btn-outline-danger");
						}
					}, error: function(error){
						console.log("error")
            document.getElementById("error").innerHTML = "Please log in to like this blog <br> Likeするにはログインが必要です。";
            return false;
					}
				})
			}
		})
	</script>
{% endblock contents %}
