{% extends "pdblog/base.html" %}

{% block contents %}
  <table border="1" class="table table-striped">
    <tr>
      <th>Title</th>
      <th>published</th>
      <th>Author</th>
      <th>detail</th>
    </tr>
    {% for article in objects_list %}
    <tr>
      <td>{{ article.title }}</td>
      <td>{{ article.pub_date }}</td>
      <td>{{ article.user}}</td>
      <td><a href="{% url 'pdblog:article_view' article.pk %}">Check This Blog</a>
    </tr>
    {% endfor %}
  </table>
  {% if user.is_authenticated %}
  <button><a href="{% url 'pdblog:article_create' %}"">create blog</a></button>
  {% endif %}
{% endblock contents %}
