{% extends "pdblog/base.html" %}

{% block contents %}
{% if user.is_authenticated %}
<div> <a class="btn btn-outline-info mb-3" href="{% url 'pdblog:article_create' %}">create blog</a></div>
{% endif %}
  <table class="table">
    {% for article in object_list %}
    <tr>
      <td><img src="{{ article.user.user_icon.url }}" alt="user icon" height="42" max-width="120"></td>
      <td class="td_pdtitle"><a href="{% url 'pdblog:article_view' article.pk %}">{{ article.title }}</a></td>
      <td>{{ article.pub_date|date:"M d Y" }}</td>
      <td>{{ article.user.user_name }}</td>
  </tr>
    {% endfor %}
  </table>

{% endblock contents %}
