{% extends "pdblog/base.html" %}

{% block contents %}

<div class="container h-100">
  <div class="d-flex justify-content-center">
    <div class="pd_card">
      <div class="card-body">
        <form action="{% url 'register:login' %}" method="POST">
          {{ form.non_field_errors }}
          {% for field in form %}
            {% if field.name == 'username' %}
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                    {{ field }}
                    {{ field.errors }}
                  </div>
            {% else %}
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                  </div>
                    {{ field }}
                    {{ field.errors }}
                  </div>
            {% endif %}

          {% endfor %}
          <hr>
          <button type="submit" class="btn btn-outline-success btn-md btn-block">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
        </form>
          <div class="d-flex justify-content-center regist-text">
            会員登録はこちら<br>Don't have an account? </div>
            <div><a href="{% url 'register:user_create' %}"><button class="btn btn-outline-primary btn-md btn-block">Sign Up</button></a></div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
