{% extends "pdblog/base.html" %}
{% block contents %}
<table class="table">
    <tbody>
      <tr>
        <th>User Icon</th>
        <td><img src= "{{ request.user.user_icon_thumbnail.url }}" alt="{{ request.user.user_name }}'s icon"></td>
      </tr>
      <tr>
        <th>User Name</th>
        <td>{{ user.user_name }}</td>
      </tr>
      {% if user.username != user.email %}
      <tr>
        <th>UserName</th>
        <td>{{ user.email }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>LastName</th>
        <td>{{ user.last_name }}</td>
      </tr>
      <tr>
        <th>FirstName</th>
        <td>{{ user.first_name }}</td>
      </tr>
    </tbody>
</table>
{% endblock %}