{% load staticfiles %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="poddict website">
    <meta name="author" content="kobeydon">
    <link rel="icon" href="../../../../favicon.ico">

    <title>poddict</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">
    <link href="{% static 'css/pd_bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        .on { background: #F75D5D; color: #fff; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{% url 'pdblog:article_list' %}">PODDICT</a>
        <small style="Color:white">what everyone<br>else thinks</small>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block nav_activate %}{% endblock %}">
              <a class="nav-link" href="{% url 'pdblog:article_list' %}">TOP<span class="sr-only">(current)</span></a>

            {% if user.is_authenticated %}
            <li>
              <a class="nav-item nav-link" href="{% url 'register:user_detail' user.pk %}">User Info</a>
            </li>
            <li>
              <a class="nav-item nav-link" href="{% url 'register:user_update' user.pk %}">User Update</a>
            <li>
              <a class="nav-item nav-link" href="{% url 'register:logout' %}">logout</a>
            </li>
            <li class="navbar-text" style=padding-left:5em>Signed in:{{ user }}</li>

            {% else %}
            <li class="nav-item">
              <a class="nav-item nav-link" href="{% url 'register:login' %}">
              Welcome Guest! Please Login here
              </a>
            </li>
            {% endif %}
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>


    <!-- Begin page content -->
    <main role="main" class="container mt-3">
        {% block contents %}{% endblock %}
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted"> FOOTER CONTENTS TO BE PLACED HERE </span>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
            integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
            crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
 </body>
</html>
